= f.inputs :title, :slug
~ f.input :text, :as => :text, :markdown => true

- unless @object.root?
  = f.input :parent_id, :as => :select, :selected => @object.parent_id, :collection => Page.all( :order => :path ), :fields => [ :title_tree, :id ], :include_blank => false

= f.input :fragment_id, :as => :select, :selected => @object.fragment_id, :collection => Fragment.basic, :fields => [ :title, :id ], :include_blank => false

- allow :designer do
  = f.input :is_module, :as => :boolean
  = f.input :params

- allow :admin do
  = f.input :layout_id, :as => :select, :selected => @object.layout_id, :collection => Layout.all, :fields => [ :title, :id ], :include_blank => false

- allow :auditor do
  = f.input :position

= f.submits
