- tree ||= @tree
- k = 0
- tree.each do |leaf|
  - k += 1
  - if object = leaf[:page]
    %tr{ :class => (leaf[:child] ? "openable" : "final") + " level-#{level}", :id => "page-#{object.id}" }
      - name = object.slug.blank? ? 'index' : object.slug
      %td= mk_edit object
      %td.slug= object.slug
      %td= object.path
      - if current_account.allowed? :designer
        %td.nowrap= link_to object.fragment.title, url(:fragments, :edit, :id => object.fragment_id)
      - else
        %td.nowrap= object.fragment.title
      %td.last= mk_checkbox object
      - if leaf[:child]
        = partial 'pages/tree', :locals => { :tree => leaf[:child], :level => level + 1 }
