.block
  = partial 'base/operations'
  .content
    %h2.title
      = pat(:all)
      = mt(@models)
    %form.inner.multiple#multiple-pages{ :action => url(@models, :index)/:multiple, :method => :post }
      %table.table
        %thead
          %tr
            %th.first= mat(@model, :id)
            %th= mat(@model, :title)
            %th= mat(@model, :slug)
            %th= mat(@model, :path)
            %th= mat(@model, :published)
            %th.last= check_box_tag :check_all, :checked => false
        - @pages.each do |page|
          %tr
            %td.first= page.id
            %td= link_to page.title, url(@models.to_sym, :edit, :id => page.id)
            %td= page.slug
            %td= page.path
            %td= mk_light page
            %td.last= check_box_tag :"check_page[#{page.id}]", :checked => false
      .actions-bar.wat-cf
        .actions= "&nbsp;"

- content_for :sidebar, partial("base/sidebar")
