%ul.tabs.operations
  %li.first.active= mk_single_op :list, url(@models, :index)
  %li= mk_single_op :new, url(@models, :new)
  %li.last= mk_multiple_op :delete
  - if @the_model.respond_to? :published
    - allow :auditor do
      %li.last= mk_multiple_op :unpublish
      %li.last= mk_multiple_op :publish
