- MODULE_GROUPS.each do |name, mods|
  - next  unless (mods & project_modules.map{|m|m.name.to_s}).any?
  %h3= pat("modules.#{name}")
  %ul.nav.nav-tabs.vertical.sidebar
    - project_modules.each do |project_module|
      - next  unless mods.include? project_module.name.to_s
      %li{ :class => ("active" if request.path_info =~ /^#{project_module.path}/) }
        = link_to project_module.path("/admin") do
          = mk_icon project_module.name
          = project_module.human_name

.block
  = yield_content(:help) || partial("base/help")
