= partial 'base/index_operations'
%form.inner.multiple#multiple-forms_results{ :action => url(:forms_results, :index)/:multiple, :method => :post }
  %table.table
    %thead
      %tr
        %th.first
        %th= mat(:object, :created_at)
    %tbody
      - @objects.each do |object|
        %tr
          %td.last= mk_checkbox object
          %td= mk_edit object
= partial 'base/index_operations_bottom'
