!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Swift
    = stylesheet_link_tag '/assets/bootstrap'
  %body
    .container{ :style => 'width: 424px' }
      %h1 Swift Admin
      .well
        - [:error, :warning, :notice].map do |type|
          = flash_tag(type, :class => "alert alert-error")
        - form_tag(url(:sessions, :create), :class => 'form-horizontal') do

          %legend Enter with social networks
          .control-group
            .controls
              = link_to image_tag('/images/social/google.png'), '/admin/auth/google'
              = link_to image_tag('/images/social/yandex.png'), '/admin/auth/yandex'

          %legend Or with email and password
          .control-group
            %label.control-label{ :for => 'email' } Email
            .controls
              = text_field_tag :email, :value => params[:email] #, :placeholder => "email"
          .control-group
            %label.control-label{ :for => 'password' } Password
            .controls
              = password_field_tag :password, :value => params[:password] #, :placeholder => "password"
          - if Padrino.env == :development
            .control-group
              .controls
                %label.checkbox
                  Bypass login
                  = check_box_tag :bypass
          .control-group
            %label.control-label
              = link_to 'Forgot Password', '/admin/accounts/reset'
            .controls
              = submit_tag('Sign In', :class => 'btn btn-primary')
