.block
  = partial 'base/index_operations'
  .content
    %h2.title
      = pat(:all)
      = mt(:blocks)
    %form.inner.multiple#multiple-blocks{ :action => url(:blocks, :index)/:multiple, :method => :post }
      %table.table
        %thead
          %tr
            %th.first= mat(:block, :id)
            %th= pat(:blocks, :title)
            %th.last= check_box_tag :check_all, :checked => false
        - @objects.each do |object|
          %tr
            %td.first= link_to object.id, url(:blocks, :edit, :id => object.id)
            %td= link_to object.title, url(:blocks, :edit, :id => object.id)
            %td.last= check_box_tag :"check_block[#{object.id}]", :checked => false

- content_for :sidebar, partial("base/sidebar")
