= partial 'base/index_operations'
%form.inner.multiple#multiple-blocks{ :action => url(:blocks, :index)/:multiple, :method => :post }
  %table.table
    %thead
      %tr
        %th= mat(:object, :title)
        %th.last= check_box_tag :check_all, :checked => false
    %tbody
      - @objects.each do |object|
        %tr
          %td= mk_edit object
          %td.last= mk_checkbox object
