= f.input :title
= f.input :text, :as => :text, :markdown => true
= f.input :slug
= f.input :news_rubric_id, :as => :select, :selected => @object.news_rubric_id, :collection => NewsRubric.all, :fields => [ :title, :id ], :include_blank => false
= f.input :publish_at, :as => :datetime
= f.input :published, :as => :boolean

= f.submits
