= partial 'base/index_operations'
%form.inner.multiple#multiple-news_articles{ :action => url(:news_articles, :index)/:multiple, :method => :post }
  %table.table
    %thead
      %tr
        %th.first= mat(:object, :id)
        %th= mat(:object, :title)
        %th= mat(:object, :rubric_id)
        %th= mat(:object, :publish_at)
        %th.last= check_box_tag :check_all, :checked => false
    %tbody
      - @objects.each do |object|
        %tr
          %td.first= link_to object.id, url(:news_articles, :edit, :id => object.id)
          %td= object.title
          %td= object.news_rubric.title
          %td.nowrap= object.publish_at.kind_of?(DateTime) ? I18n.l( object.publish_at, :format => :date ) : ''
          %td.last= mk_checkbox object
