= partial 'base/index_operations'
%form.inner.multiple#multiple-accounts{ :action => url(:accounts, :index)/:multiple, :method => :post }
  %table.table
    %thead
      %tr
        %th.title= mat(:object, :name)
        %th= mat(:object, :role)
        %th.last= check_box_tag :check_all, :checked => false
    %tbody
      - @objects.each do |object|
        %tr
          %td= mk_edit object
          %td= object.group.title
          %td.last= mk_checkbox object
