!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Swift
    = stylesheet_link_tag '/assets/bootstrap'
  %body
    .container{ :style => 'width: 424px' }
      %h1 Swift Admin
      .well
        - [:error, :warning, :notice].map do |type|
          = flash_tag(type, :class => "alert alert-error")
        - form_tag(url(:accounts, :reset), :class => 'form-horizontal', :autocomplete => "off") do

          - if params[:email].blank?
            .control-group
              %label.control-label{ :for => 'email' } Email
              .controls
                = text_field_tag :email, :value => params[:email]
          - else
            .control-group
              %label.control-label{ :for => 'email' } Resetting
              .controls
                = hidden_field_tag :email, :value => params[:email]
                = params[:email]
            .control-group
              %label.control-label{ :for => 'code' } Reset code
              .controls
                = text_field_tag :reset, :value => params[:reset]

          .control-group
            %label.control-label
              = link_to 'Back', url(:base, :index), :class => :button
            .controls
              = submit_tag('Reset', :class => 'btn btn-primary')
