!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title Swift
    = stylesheet_link_tag '/assets/bootstrap'
    = stylesheet_link_tag '/assets/admin/96-monkey'
  %body
    .container{ :style => 'width: 290px' }
      %h1 Swift Admin
      - form_tag(url(:accounts, :reset), :class => 'form-horizontal well', :autocomplete => "off") do
        = partial 'base/flash'
        %pre= params.inspect

        %legend Reset password
        - if params[:email].blank?
          .control-group
            .input-prepend
              %span.add-on>
                %i.icon-envelope
              = text_field_tag :email, :value => params[:email], :placeholder => "email"
        - else
          .control-group
            .input-prepend
              %span.add-on>
                %i.icon-envelope
              = text_field_tag :email, :value => params[:email], :disabled => true
              = hidden_field_tag :email, :value => params[:email]
          .control-group
            .input-prepend
              %span.add-on>
                %i.icon-lock
              = text_field_tag :reset, :value => params[:reset], :placeholder => 'reset code'

        .form-inline
          = submit_tag('Reset', :class => 'btn btn-primary pull-right')
          = link_to 'Back', url(:base, :index), :class => :button
