!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "robots", :content => "noindex" }
    %link{ :rel => "shortcut icon", :href => "/images/swift32.png" }
    %title Eaur Admin
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    = css :admin
    = js :admin

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to Option(:site_title), url(:base_index), :class => 'brand'
          .pull-right
            = link_to pat('site'), '/'
            %span.navbar-text= current_account.role_title
            = mk_glyph( :user, :white => true )                                                                            |
              + link_to( current_account.name, url(:accounts, :edit, :id => current_account.id), :class => 'navbar-text' ) |
            = link_to pat(:logout), url(:sessions, :destroy), :method => :delete, :class => 'btn btn-danger btn-small'
    .container-fluid
      = partial 'base/flash'
      - if @object && @object.dirty?
        - err = @object.errors.to_hash.select{|k,v|v.any?}.map{|k,v|v.join}.join('<br>')
        - unless err.blank?
          .alert.alert-error= err
      - sidebar = yield_content(:sidebar) || partial("base/sidebar")
      .sidebar.tabs-left
        = sidebar
      .content
        = yield
        %pre= request.env.inspect
