%ul.nav.nav-tabs.operations
  %li.first.active= mk_single_op :list, url(@models, :index)
.form-horizontal
  - @objects.each do |object|
    .stats
      %h3= link_to object.title, url( :forms_results, :index, :forms_card => object.slug )
      - object.json.each do |k,v|
        - if object.json.count > 1
          %h5= k
        - v[1].split(/[\r\n]+/).each do |var|
          .control-group
            %label.control-label= var
            .progress
              .bar{ :style => "width:#{object.stat(k, var, :percent)}%" }
                = object.stat(k, var, :count)
