= f.input :title
= f.input :text, :as => :text, :markdown => true
- allow :auditor do
  .control-group.as_group.as_clonable
    = f.group_label :fields
    - @object.json.each do |key, type|
      .controls.horizontal
        = text_field_tag "key[#{key}]", :value => key
        = select_tag "type[#{key}]", :selected => type[0], :options => CatCard::Types, :include_blank => 'Удалить'
        - klass = %W{select multiple}.include?(type[0]) ? 'show' : 'hide'
        ~ text_area_tag "value[#{key}]", :value => type[1], :class => klass
         
    .hide.controls.horizontal
      = text_field_tag :'key[json_new]'
      = select_tag :'type[json_new]', :selected => 'string', :options => CatCard::Types, :include_blank => 'Удалить'
      ~ text_area_tag "value[json_new]", :value => '', :class => 'hide'
    .controls.clone
      = link_to mk_glyph('plus-sign') + ' ' + pat('menu.add.fields'), 'javascript:;', :onclick => 'cloneControlGroup(this)', :class => 'btn btn-mini'

  = f.input :slug
= f.submits