!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    = element 'PageTitle'
  %body
    #body
      #header
        = partial 'fragments/header'
      #wrapper
        = element 'Notice'
        = yield
      #footer
        = partial 'fragments/footer'

%pre= @swift.to_yaml
